/* Write your code here. */
.heading {
  font-family: roboto;
  font-weight: bold;
  color: #0f172a;
}

.notification1 {
  background-color: #0b69ff;
  color: #ffffff;
  font-family: roboto;
}

.notification2 {
  background-color: #2dca73;
  color: #ffffff;
  font-family: roboto;
}

.notification3 {
  background-color: #ffb800;
  color: #ffffff;
  font-family: roboto;
}

.notification4 {
  background-color: #ff0b37;
  color: #ffffff;
  font-family: roboto;
}
